html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.Playground {
  width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}
.Playground .box {
   height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}


@media only screen and (max-width: 800px){
  .Playground .box{
    width: 75px;
    height: 75px;
    line-height: 75px;
  }

  .Playground {
    width: 390px;
  }
}

@media only screen and (max-width: 450px){
  .Playground .box{
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 10px 10px 0 !important;
  }

  .Playground {
    width: 240px;
  }
}

.Playground .box:nth-child(4n) {
  margin: 0 0 15px 0;
}
.Playground .box:nth-child(n+13) {
  margin: 0 30px 0 0;
}
.Playground .box:nth-child(n+13):nth-child(4n) {
  margin: 0;
}
.Playground .box.open {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  background: #1DE9B6;
  cursor: pointer;
}
.Playground .box.show {
  font-size: 33px;
}
.Playground .box.match {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  cursor: default;
  background: #81C784;
  font-size: 33px;
}
.Playground .box.notmatch {
  background: #BDBDBD;
}

#score-panel {
  text-align: left;
  width: 450px;
  font-size: 30px;
  
}
#score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}
#score-panel .stars li {
  list-style: none;
  display: inline-block;
}
#score-panel .PlayAgain {
  float: right;
  cursor: pointer;
}

